{% extends 'base.html.twig' %}

{% block title %}Web App - Users{% endblock %}


{% block body %}
    <div class="container mx-auto my-auto">
        <div class="mx-auto text-center" style="width: 70%; height: 70%; background: whitesmoke; margin-top: 10%">
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="button" name="options" id="option1" autocomplete="off" checked> Active
                    </label>
                    <label class="btn btn-secondary">
                        <input type="button" name="options" id="option2" autocomplete="off"> Radio
                    </label>
                    <label class="btn btn-secondary">
                        <input type="button" name="options" id="option3" autocomplete="off"> Radio
                    </label>
                </div>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkbox custom-control-input" id="selectAll" checked>
                            <label class="custom-control-label" for="selectAll"></label>
                        </div>
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Registration date</th>
                    <th scope="col">Last login</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users  %}
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkbox custom-control-input" id="defaultChecked {{ user.id }}" checked>
                            <label class="custom-control-label" for="defaultChecked {{ user.id }}"></label>
                        </div>
                    </td>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.registration_date }}</td>
                    <td>{{ user.last_Login }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
